nav {
    width: 90%;
    margin: 0 auto;
}
.brand-x {
    margin-left: -20px;
    padding-left: 5px;
    height: 50px;
    width: 240px;
    justify-content: space-between;
}

.nav-brand-wrapper {
    margin-top: 5px;
    float: right;
    height: 50px;
    width: 180px;
}

.nav-brand-wrapper h2, p {
    color: white;
}

.brand-img img {
    height: 50px;
    width: 50px;
    float: left;
}

.brand-x h2 {
    font-weight: 700;
}

.brand-x p {
    font-size: 10px;
    margin-top: -15px;
}

.brand-img {
    height: 50px;
    width: 50px;
}


.container-md {
    height: auto;
    margin-top: 50px;
}

.container-fluid .navbar-brand{
    color: white;
}

.container-fluid .collapse {
    right: 0%;
    position: absolute;
}

.container-fluid .navbar-brand {
    font-size: 35px;
}

.nav-item .nav-link {
    color: #e0dfdc;
    font-size: 19px;
    margin-left: 15px;
}

.nav-item .btn-login {
    margin-left: 50px;
}

.nav-item .btn-signup {
    margin-left: 0px;
    border-radius: 3px;
    margin-top: -2px;
    border: 2px solid #043c80;
    width: 100px;
    text-align: center;
}

.offcanva-header-bg {
    background-color: #2d2e2e;
}

.offcanva-header-bg h5, button {
    color: white;
}